.form input, .form textarea {
	width: 67%;
}

#wysiwyg-adv { width: 100%; min-height: 300px; }

.student-wrapper {
	width: 100%;
}

.student {
	border: 1px solid #D5D5D5;
	box-shadow: 0 0 0 1px #FFFFFF inset;
	display: inline-block;
	margin: 0px 5px 10px;
	background: #ffffff;
	border-radius: 6px 6px 6px 6px;
	width: 30%;
}

.student .gravatar {
	float: left;
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid #efefef;
	margin: 10px;
}

.student-info {
	margin-top: 10px;
	margin-left: 85px;
	margin-bottom: 10px;
}

.student-info span {
	display: block;
	margin-bottom: 5px;
}

.student-info .name {
	font-size: 14px;
	font-weight: bold;
}

.student-action {
	border-top: 1px solid #efefef;
	text-align: center;
}

.student-action a {
	padding: 10px;
	display: block;
	float: left;
	width: 40%;
	font-weight: bold;
}

.student-action .edit {
	border-right: 1px solid #efefef;
}

/* CSS for Dashboard */

.course {
	background: #ffffff;
	margin-bottom: 20px;
	padding: 10px;
	border-right: 1px solid #efefef;
	min-height: 150px;
	width: 44%;
	margin-right: 20px;
	float: left;
}

.course h3 {
	background: #e3e3e3;
	padding: 10px 0px;
	font-weight: normal;
}

.course-feature {
	float: left;
	margin-right: 30px;
	width: 100px;
}

.course-feature img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-right: 1px solid #efefef;
	direction: block;
	padding: 5px;
	background: #fff;
	margin-bottom: 10px;
}

.course-feature .label {
	margin-left: 15px;
}

ul.course-action {
	margin-left: 145px;
}

ul.course-action li {
	list-style: square;
	line-height: 2em;
}

/* Dashboard Course with Lectures */

.single-course {
	background: #ffffff;
	margin-bottom: 20px;
	padding: 10px;
	border-right: 1px solid #efefef;
}

.single-course h3 {
	background: #e3e3e3;
	padding: 10px 0px;
	font-weight: normal;
}

.single-course h3 .add {
	float: right;
	margin-right: 10px;
}