{{ include:header }}

<!-- ***** Area for the Intro Content ***** -->

	<div class="wrapper" id="intro-wrapper">
		<div class="container">
            <h1>Learning made Social</h1>
            <p>TutsLinks မွာ နည္းပညာ ဆိုင္ရာ Courses , Tutorial ေတြကို Social ပံုစံမ်ိဳးျဖင့္ သင္ယူႏိုင္မွာျဖစ္ပါတယ္။ TutsLinks မွာ နည္းပညာ ဆိုင္ရာ Courses , Tutorial ေတြကို Social ပံုစံမ်ိဳးျဖင့္ သင္ယူႏိုင္မွာျဖစ္ပါတယ္။</p>
            <p>
                <a href="{{ rbUrl('user/register') }}" class="btn btn-red btn-medium" id="sing-up">Sign Up</a>
                or
                <a href="{{ rbUrl('course') }}" class="btn btn-blue btn-medium" id="take-a-tour">Browse Course</a>
            </p>

            <div class="features">
            	<div class="three-col">
            		<div class="col">
            			<div class="block block-cyan">
		            		<h3><i class="ico-course"></i>Course</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            		<div class="col">
            			<div class="block block-dark middle-block">
		            		<h3><i class="ico-tutorials"></i>Tutorials</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            		<div class="col">
						<div class="block block-blue">
		            		<h3><i class="ico-praticals"></i>Praticals</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            	</div> <!-- end of .three-col -->

            	<div class="three-col">
            		<div class="col">
            			<div class="block block-red">
		            		<h3><i class="ico-discussion"></i>Discussion</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            		<div class="col">
            			<div class="block block-green middle-block">
		            		<h3><i class="ico-bonus"></i>Bonus</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            		<div class="col">
						<div class="block">
		            		<h3><i class="ico-social"></i>Social</h3>
		            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
		            	</div>
            		</div>
            	</div> <!-- end of .three-col -->
            </div> <!-- end of .features -->
        </div> <!-- end of .container -->
	</div> <!-- end of #intro-wrapper -->

<!-- ***** Area for the Main Content ***** -->

	<div class="wrapper white-bg" id="content-wrapper">
		<div class="container">

			<div id="current-courses">
				<h2>We are mainly focussing on.</h2>
				<div class="four-col">
					<div class="col">
						<div class="badge">
			        		<div class="badge-green"><i class="logo-env"></i></div>
			        		<p>Web Dev Enviroment</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class="badge-red"><i class="logo-htmlcss"></i></div>
			        		<p>HTML &amp; CSS</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class="badge-blue"><i class="logo-html5"></i></div>
			        		<p>HTML 5</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class="badge-dark"><i class="logo-photoshop"></i></div>
			        		<p>Photoshop</p>
			        	</div>
					</div>
				</div> <!-- end of .four-col -->

				<div class="four-col">
					<div class="col">
						<div class="badge">
			        		<div class="badge-black"><i class="logo-wordpress"></i></div>
			        		<p>Wordpress</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class=""><i class="logo-drupal"></i></div>
			        		<p>Dupal</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class="badge-sky"><i class="logo-backbone"></i></div>
			        		<p>Backbone</p>
			        	</div>
					</div>
					<div class="col">
						<div class="badge">
			        		<div class="badge-darksky"><i class="logo-php"></i></div>
			        		<p>PHP</p>
			        	</div>
					</div>
				</div> <!-- end of .four-col -->

				<p class="more_courses">Comming Soon for More Courses ...</p>

			</div> <!-- end of #current-courses -->

		</div> <!-- end of .container -->

		<div id="details-block" class="wrapper">
			<div class="container">
				<h2>More details on what you get</h2>

				<div class="three-col">
					<div class="col">
						<h3>100% Online with Instant Access</h3>
						<p>When you purchase a course or membership bundle,  you gain access to your course(s) videos, worksheets and design templates within seconds. Everything you need to learn is available online, so you can access your courses whenever you carve out time to learn.</p>
					</div>
					<div class="col">
						<h3>Learn from Professionals</h3>
						<p>DesignBoost lead instructor, Jen Gordon is skilled designer of interfaces for the web and mobile, and her number one goal with DesignBoost is to boost YOUR design skills.</p>
					</div>
					<div class="col">
						<h3>Instructor Support</h3>
						<p>If you ever have questions about a lesson or have a lesson request, you instructor is just a click away. Course instructors are available to you via email or, look to see if they are online and available for chat in the course sidebar.</p>
					</div>
				</div> <!-- end of .three-col -->
			</div> <!-- end of .container -->
		</div> <!-- end of #details-block -->

	</div> <!-- end of #content-wrapper -->

{{ include:footer }}